.footer {
    background-color: var(--Fnd-color);
    padding: 20px;
    font-size: 14pt;
}

.footer .container {
    display: flex;
    color: var(--st-color);
}

.container ul {
    width: 25%;
    margin: 20px;
}

.container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

.container .redesSociais .img {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.container ul > p {
    margin-bottom: 40px;
}

.container li {
    margin: 10px 0;
    list-style: none;
}

.container a {
    color: white;
}

.fstBox {
    padding-right: 30px;
    text-align: justify;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
    }

    .container ul {
        width: 100%;
        margin: 10px 10px;
    }

    .container ul > p {
        margin-bottom: 5px;
    }
}
