.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Lado esquerdo */

.leftContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.textLeft {
    margin: 5rem;
    position: relative;
    right: 10%;
    top: 15%;
}

.pLeft {
    margin-top: 50px;
}

.pLeft p {
    margin: 25px 10px;
    font-size: 16pt;
}

.textLeftB {
    position: relative;
    bottom: 10%;
}

/* Fim lado esquerdo */
/* Lado direito */
.rightContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: 70vh;
    width: 50%;
    border-radius: 35px;
    border: 1px solid;
    background-color: var(--stnd-color);
}

.formulario input {
    width: 80%;
    padding: 20px;
    margin: 10px;
    background: none;
    border-radius: 12px;
    border: 1px solid #000;
    color: #000;
    font-size: 16pt;
}

.formulario h1 {
    margin-bottom: 30px;
}

.formulario h6 {
    margin-top: 20px;
    width: 80%;
    font-size: 14pt;
    text-align: left;
}

.formulario button {
    background-color: var(--nd-color);
    color: var(--st-color);
    padding: 10px;
    margin-right: 25px;
    width: 5rem;
    font-size: 12pt;
    border: 1px solid var(--nd-color);
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.formulario button:hover {
    background-color: var(--st-color);
    color: var(--nd-color);
    border: 1px solid var(--nd-color);
    transform: translateY(-5px);
}

/* Fim lado direito */

@media (max-width: 1630px) {
    .container {
        height: 100vh;
        margin-top: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .textLeftB {
        margin-top: 10%;
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 60px;
        height: 70vh;
        width: 40%;
    }

    .formulario input {
        width: 80%;
        padding: 15px;
        margin: 10px;
        background: none;
        border-radius: 12px;
        border: 1px solid #000;
        font-size: 16pt;
    }
    .textLeftB {
        margin-top: 25%;
        font-size: 10pt;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .textLeft {
        width: 80%;
        margin-right: 20px;
    }
    .textLeft h1 {
        font-size: 16pt;
    }

    .textLeftB {
        margin-top: 25%;
        font-size: 10pt;
        text-align: center;
    }
    .formulario {
        width: 80%;
    }

    .formulario input {
        padding: 10px;
    }
    .formulario button {
        padding: 10px;
    }
}

@media (max-width: 450px) {
    .formulario {
        width: 80%;
    }

    .textLeft h1 {
        font-size: 16pt;
    }
}
