/* Estilizar box */

.itemContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--st-color);
    height: 50rem;
}

.itemTitle {
    font-size: 2em;
}
/* Formatação correta do Markdown */
.itemDescription {
    font-size: 16pt;
    text-align: justify;
    color: var(--fth-color);
}

/* Garante espaçamento adequado entre os parágrafos */
.itemDescription p {
    margin-bottom: 10px;
}

/* Estiliza os links */
.itemDescription a {
    color: rgb(53, 53, 180);
    text-decoration: underline;
    cursor: pointer;
}

.itemTexts {
    width: 50%;
    height: 90%;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.imgBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1300px) {
    .itemContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin: 10px;
    }
    .itemTitle {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .itemDescription {
        font-size: 12pt;
        text-align: justify;
        width: 100%;
    }

    .itemTexts {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .imgBox {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
