/* Estilizar box */

.itemTitle {
    font-size: 2em;
}

.itemContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--st-color);
    margin: 10px 0px;
    height: 50rem;
}

.itemTexts {
    width: 80%;
    height: 90%;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.itemDescription {
    font-size: 16pt;
    display: flex;
    height: 80%;
    align-items: flex-start;
}

.imgBox {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
