:root {
    --st-color: #ffffff;
    --stnd-color: #f8f8f8;
    --nd-color: #242436;
    --Fnd-color: #19464e;
    --rd-color: #39ad78;
    --th-color: #dd8a4b;
    --fth-color: #00052a;
    --sth-color: #bd2b2b;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* Garante que o body ocupe toda a altura da tela e permita o scroll */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Permite rolar a página */
    max-width: 100vw;
    background: var(--st-color);
}

body {
    color: var(--fth-color);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
